{% extends 'base.html' %}

{% block title %}
Neuer Post
{% endblock %}

{% block body %}

<div class="content_body page_pattern">
    <h1  class="content_header">Neuer Post</h1>
    <form method="post">
        <input type="text" name="title" id="title" placeholder="Name">
        <textarea type="textarea" name="text" id="text" placeholder="Text"></textarea>
        <textarea type="textarea" name="link" id="link" placeholder="link"></textarea>
        <input type="submit" value="Hinzufügen">
    </form>
</div>

{% endblock %}
